extends layout

block content
  if(websites)
    each website, i in websites
      .result
        a(href=website.url)
          h4= website.title
        p.url= website.url
        p.description= website.description
    else
      p Khong tìm thấy dữ liệu